{%extends 'base.html' %}
{% load board_filter %}
 
{% block title %}infolist.html{% endblock %}
 
{% block content %}

<div class="container">
    <table class="table table-striped" style="table-layout: fixed"  >
        <thead class="table-dark text-center">
        <tr>
            <th scope="col" width="3%">#</th>     
            <th scope="col" width="60%">제목</th>
            <th scope="col" width="20%">작성자</th>
            <th scope="col" width="17%">작성일시</th>
        </tr>
        </thead>
        <tbody class="text-center">
            {% if object_list %}
            {% for info in object_list %}
        <tr>
            <td>{{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1}}</td>
            <td class="text-start"><a href="{% url 'info:detail' info.id %}" class="text-decoration-none">{{ info.title }}</a>
            </td>
            <td>Admin</td>
            <td>{{ info.date_created }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">등록된 자료가 없습니다.</td>
        </tr>
        {% endif %}
    </table>
    <ul class="pagination justify-content-center mb-4">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">이전</a>
        </li>
        {% endif %}

        {% for index in pagelist %}
        {% if index == page_obj.number %}
        <li class="page-item active">
            <span class="page-link">{{index}}</span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ index }}">{{ index }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
</div>

 
{% endblock %}