{%extends 'base.html' %}
 
{% block title %}question_delete.html{% endblock %}
 
{% block content %}
<div class="text-center">
    
    <form action="" method="POST">
    
    {{ form }}
    {% csrf_token %}
<div class="field is-grouped is-grouped-centered">
    
    <p class="control">
        Delete the question?
      </p>
  </div>
    <p class="control">
        
      <input type="submit" class="btn btn-danger" value="Delete">
      <a class="btn btn-secondary" href="{% url 'board:detail' question.id %}">
       Cancel
      </a>
    </p>
    </form>
</div>
 
{% endblock %}