{%extends 'base.html' %}
{% load board_filter %}
 
{% block title %}question_list.html{% endblock %}
 
{% block content %}
<div class="container">
    <table class="table table-striped" style="table-layout: fixed"  >
        <thead class="table-dark text-center">
        <tr>
            <th scope="col" width="3%">#</th>     
            <th scope="col" width="60%">Title</th>
            <th scope="col" width="20%">Author</th>
            <th scope="col" width="17%">Date</th>
        </tr>
        </thead>
        <tbody class="text-center">
            {% if question_list %}
            {% for question in question_list %}
        <tr>
            <!-- 掲示物番号＝全体掲示物の数ー現在ページスタートインデックスー現在インデックス＋１ -->
            <!-- add　機能がないので、テンプレートフィルターを作って利用する-->
            <td scope="row">{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1}}</td>
            <td class="text-start"><a href="{% url 'board:detail' question.id %}" class="text-decoration-none">{{ question.subject }}</a>
            {% if question.answer_set.count > 0 %}
            <span class="badge bg-secondary text-light mx-2">{{ question.answer_set.count }}</span>
            {% endif %}</td>
            <td>{{ question.author.username }}</td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">There is no Question.</td>
        </tr>
        {% endif %}
    </table>
    <!-- ページ処理スタート-->
    <ul class="pagination justify-content-center">
        <!-- 以前のページ -->
        {% if question_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.previous_page_number }}">Prev</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Next</a>
        </li>
        {% endif %}
        <!-- ページリスト -->
        {% for page_number in question_list.paginator.page_range %}
        <!-- 現在ページの左右５個を表示-->
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %} 
            {%if page_number == question_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number}}</a>
            </li>
            {% endif %}
            {% endif %}
        {% endfor %}
        <!-- 次のページ -->
        {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Next</a>
            </li>
        {% endif %}
    </ul>
    <!-- ページ処理終わり -->
<div class="d-flex justify-content-between">
    <a href="{% url 'board:question_create' %}" class="btn btn-primary">Add Question</a>
    <form class="d-flex" action="{% url 'board:search'%}" method="GET">
        {% csrf_token %}
        <input class="form-control me-2" type="text" placeholder="Q/A Search" id="search" aria-label="Search" name="search" value="{{search|default_if_none:''}}">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
</div>
 
{% endblock %}