{%extends 'base.html' %}
 
{% block title %}eju.html{% endblock %}
 
{% block content %}
<div class="container">
    <ul>
        <li>EJU 일본어/종합과목</li>
        <p>EJU를 준비하면서 학생들이 가장 많이 느끼는 생각은, 정확히 무엇을 얼마나 공부해야할지를 모르겠다는 것입니다.
            실제로, 시판되는 문제집들의 수준이 편차가 몹시 심하고, 실제 기출과는 다른 문제유형이 많은데다가 교과서 외적인 부분에서도 많이
            출제되고 있기 때문입니다. 
            이런 문제를 해결하기 위해서, 다년간의 강의로 준비된 EJU 종합과목 요점정리. 문제유형 분석을 통한 독해,청해 풀이법을 통해서 
            어떤 기출유형이든 대처할수있도록 실력을 향상시킵니다.
        </p>
        <li>일본대학입시 특징</li>
            <p>일본 대학입시를 준비하는 학생들이 곤혹해 하는것은, 매년 각 대학의 입시일정과 입시요강이 바뀐다는 점입니다. 
                이런 문제를 해결하기 위해서, 학생별로 웹사이트로 관리되는 Todo 리스트를 만들어 일정관리에 서툰 학생이라도 쉽게 일정을 관리할수 있도록 했습니다. 
                또, 학생의 성적에 맞춰서 입시 전략을 짜는것도 중요한데, 토익을 해야할지 토플을 해야할지, 무리해서라도 수학을 공부하는게 맞는지, 포기하는게 맞는지 등 
                각 학생의 지망하는 대학에 맞춰서 공부 전략을 짜서 수업합니다.
            </p>
        <li>자소서 첨삭</li>
            <p>학생들이 세번째로 겪는 난관은, 지망이유서를 적을때입니다. 한국 대학의 입시와는 다르게, 지망이유서로 1차선고를 하고 본고사로 2차선고를 하는 일본대학이 많습니다. 
                하지만 고등학생 내내 객관식 위주로 풀어온 학생들은 지망이유서를 어떻게 작성해야 하는지, 자신의 이야기를 어떻게 지망이유서에 녹여내야 하는지 잘 모릅니다. 
                따라서 공장에서 찍어낸것처럼 똑같은 지망이유서가 아닌, 학생의 이야기를 녹여낸 지망이유서를 학생 스스로 작성시키고, 첨삭을 통해서 다듬어 나갑니다. 
                이렇게 하는것으로 누군가 대필한것이 아닌, 그 학생만의 일본어 느낌이 묻어나는 지망이유서가 완성되게 됩니다. 
        <li>수업방식</li>
        <li>커리큘럼</li>
        <li>수강료</li>  
    </ul>
</div>
    
{% endblock %}