{%extends 'base.html' %}
 
{% block title %}intro.html{% endblock %}
 
{% block content %}
<div class="container">
    <ul>
        <li>강사 소개</li>
            <p>2013년 일본 릿쿄대학에 입학하고부터 꾸준히 개인과외를 해오고 있습니다.
                주로 EJU 일본어, 종합과목, JLPT, 일본어 회화, 한국어 회화를 가르쳤습니다.
                제가 가르쳤던 학생들은 원래 뛰어난 학생이 아닌 사정이 있어서 도중에 진로를 변경하거나, 뒤늦게 유학을 결심한 학생들이 많았습니다.
                기본기가 부족한 학생들을 위해 직접 교재를 번역하거나, 학생 개인에 맞는 공부방법을 찾는 식으로 수업을 진행합니다.
                제 목표는 단순히 지식을 전달하는것이 아니라 지식을 습득하는 체계를 가르치는 것입니다. 그렇게 하면 혹시나 도중에 과외를 그만두거나 다른것을 공부할때도 똑같은 방법을 적용해서 쉽게 익힐수 있게 됩니다. </p>
        <li>수강과목(페이지링크)</li>
        <ul>
            <li><a href="{% url 'introduce:jlpt' %}">JLPT</a></li>
            <li><a href="{% url 'introduce:eju' %}">EJU</a></li>
            <li><a href="{% url 'introduce:conversation' %}">일본어회화</a></li>
        </ul>
        <li>과외 경력</li>
        <ul>
            <li>2013년: 한국어 회화 과외(1년), EJU 일본어/수학1 지도(1년) 메이지대학 합격</li>
            <li>2014년: 한국어 회화 과외(6개월, 8개월) 한국어검정 합격, 한일 문체부 공무원 교류 만찬 통역으로 참가</li>
            <li>2016년: 한국어 회화 과외(3개월, 6개월)</li>
            <li>2017년: EJU 종합과목 과외(5개월,5개월) 메이지대학, 일본대학 합격</li>
            <li>2018년: EJU 종합과목 과외(1년) 리츠메이칸 대학 합격</li>
            <li>2019년: EJU 종합과목 과외(5개월,6개월) 메이지대학, 토요대학 합격</li>
            <li>2020년: EJU 종합과목, 일본어 과외(6개월)</li>
            <li>2021년: EJU 종합과목, 일본어 과외(6개월) 토요대학 합격, JLPT N1 과외(3개월)</li>
        </ul>
        <li>과외 가격</li>
            <p>과목에 따라 다르지만 기본적으로 주1회 2시간 기준으로 20만원을 받고있습니다. 과목이나 학생 수준에 따라서 가격은 달라질수 있습니다.</p>
    
        <li>상담 링크(오픈카톡/카카오톡 등)</li>
            <a href="#">오픈카톡</a>
    </ul>
</div>

{% endblock %}