{%extends 'base.html' %}
 
{% block title %}todo_list.html{% endblock %}
 
{% block content %}

<h2>&nbsp;&nbsp;&nbsp;&nbsp;Todo List!!</a></h2>

<br>
   <ul>
      <div class="row">
        {% for todo in todo_list %}
        <div class="col-sm-3">
          <div class="card">
            <div class="card-header"><h4>{{todo.name}}</h4></div>
            <div class="card-body">
              <h5 class="card-title">{{ todo.description }}</h5>
              <p class="card-text">마감 : {{ todo.date_deadline }} | {{ todo.remaining_days }}</p>
              <a href="#" class="btn btn-primary">완료</a>
              <a href="{% url 'todo:update' todo.id %}" class="btn btn-primary">수정</a>
              <a href="{% url 'todo:delete' todo.id %}" class="btn btn-primary bg-danger border-danger">삭제</a>
              <a href="{% url 'todo:detail' todo.id %}" class="btn btn-secondary">자세히</a>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="{% url 'todo:list' %}" class="btn btn-primary mt-5" type="button" >목록 보기</a>
          <a href="{% url 'todo:create' %}" class="btn btn-dark mt-5" type="button" >할일 만들기</a>
        </div>
      </div>
    </ul>
{% endblock %}
