{%extends 'base.html' %}
 
{% block title %}todo_detail.html{% endblock %}
 
{% block content %}
<div class="container cards">
<div class="card text-center" style="width: auto;">
    <div class="card-header">
      <p class='text-primary'> 제목 : {{ todo.name }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">내용 : {{todo.description }}</li>
      <li class="list-group-item">마감일 : {{todo.date_deadline}}</li>
      <li class="list-group-item"><p class="text-danger">마감 {{ todo.remaining_days}}</p></li>
    </ul>
       {% if todo.image %}
       <hr>
       [이미지] 
       <a href="{{ todo.image.url }}">
       <img src="{{ todo.image.url }}" style="max-width: 50%; height: auto;"  alt="reference_image"></a>
       클릭하시면 원본크기로 볼수 있습니다.
       </hr>
       {% endif %}
      
       {% if todo.file %}
       <hr>
       [첨부파일]
       <a href="{{ todo.file.url }}">{{todo.file.name}}</a>
       클릭해서 다운로드
      </hr>
       {% endif %}
  </div>
  <a class="btn btn-secondary mt-5" href="{% url 'todo:list' %}" role="button">목록으로 보기</a>
  <a class="btn btn-danger mt-5" href="{% url 'todo:delete' object.id %}" role="button">삭제</a>
</div>

{% endblock %}