{%extends 'base.html' %}
 
{% block title %}todo_list.html{% endblock %}
 
{% block content %}

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>

                <th>할일</th>
                <th>마감일</th>
                <th>마감</th>
            </tr>
        </thead>
        <tbody>
            {% if todo_list %}
            {%for todo in todo_list %}
            <tr>
                <td><a href="{% url 'todo:detail' todo.id %}" class="text-decoration-none">{{ todo.name }}</td>
                <td>{{ todo.date_deadline}}</td>
                <td>{{ todo.remaining_days}}</td>
            </tr>
            {% endfor%}
            {% else %}
            <td>할 일 목록이 없습니다!! 하나 만들어보는건 어떨까요?</td>
            {% endif %}
        </tbody>
    </table>

    <hr/>
    <a class="btn btn-secondary pull-right" href="{% url 'todo:index' %}">카드로 보기</a>
    <a href="{% url 'todo:create' %}" class="btn btn-primary" type="button" >할일 만들기</a>
    <div class="text-center"></div></div>
    
{% endblock %}
