{%extends 'base.html' %}
 
{% block title %}todo_delete.html{% endblock %}
 
{% block content %}

<div class="text-center">
    <p class="text-primary">{{ object.name }}</p><br><br>
    <p>{{ object.description}}</p>
    <p>{{ object.date_deadline}}</p>
    <p class="text-danger">{{ object.remaining_days}}</p>
   
    {% if object.image %}
    <hr>
    [이미지] 
    <a href="{{ object.image.url }}">
    <img src="{{ object.image.url }}" style="max-width: 50%; height: auto;"  alt="reference_image"></a>
    클릭하시면 원본크기로 볼수 있습니다.
    </hr>
    {% endif %}
   
    {% if object.file %}
    <hr>
    [첨부파일]
    <a href="{{ object.file.url }}">{{object.file.name}}</a>
    클릭해서 다운로드
   </hr>
    {% endif %}
</div>

<div class="text-center">
    
    <form action="" method="POST">
    
    {{ form }}
    {% csrf_token %}
<div class="field is-grouped is-grouped-centered">
    
    <p class="control">
        Delete Task?
      </p>
  </div>
    <p class="control">
        
      <input type="submit" class="btn btn-danger" value="Delete">
      <a class="btn btn-secondary" href="{% url 'todo:index' %}">
        Cancel
      </a>
    </p>
    </form>
</div>


{% endblock %}