{%extends 'base.html' %}
 
{% block title %}todo_detail.html{% endblock %}
 
{% block content %}
<div class="container cards">
<div class="card text-center" style="width: auto;">
    <div class="card-header">
      <p class='text-primary'> Task : {{ todo.name }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Description : {{todo.description }}</li>
      <li class="list-group-item">Deadline : {{todo.date_deadline}}</li>
      <li class="list-group-item"><p class="text-danger">{{ todo.remaining_days}}</p></li>
    </ul>
       {% if todo.image %}
       <hr>
       [Image]
       <a href="{{ todo.image.url }}">
       <img src="{{ todo.image.url }}" style="max-width: 50%; height: auto;"  alt="reference_image"></a>
       Click to see original size 
       </hr>
       {% endif %}
      
       {% if todo.file %}
       <hr>
       [File]
       <a href="{{ todo.file.url }}">{{todo.file.name}}</a>
       Click to download
      </hr>
       {% endif %}
  </div>
  <a class="btn btn-secondary mt-5" href="{% url 'todo:list' %}" role="button">List View</a>
  <a href="{% url 'todo:update' todo.id %}" class="btn btn-primary mt-5">Modify</a>
  <a class="btn btn-danger mt-5" href="{% url 'todo:delete' object.id %}" role="button">Delete</a>
</div>

{% endblock %}