{%extends 'base.html' %}
 
{% block title %}todo_list.html{% endblock %}
 
{% block content %}
<div class = "container index">
<h2>&nbsp;&nbsp;&nbsp;&nbsp;Todo List!!</a></h2>

<br>
   <ul>
     {% if todo_list %}
      <div class="row">
        {% for todo in todo_list %}   
        <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
          <div class="card h-100" style="width:auto;">
            <div class="card-body d-flex flex-column">
              
              <h5 class="card-title">{{ todo.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Deadline : {{ todo.date_deadline }} | {{ todo.remaining_days }}</h6>
              <p class="card-text h-100 mt-2">{{ todo.description }}</p>
              <div class="attachment">
                {% if todo.image %}
              <hr>
                <p>[Image]</p> 
                <a href="{{ todo.image.url }}">
                <img src="{{ todo.image.url }}" style="max-width: 50%; height: auto;"  alt="reference_image"></a>
                <p>Click to see original size.</p>
                </hr>
                {% endif %}
                
                {% if todo.file %}
                <hr>
                <p>[File]</p>
                <a href="{{ todo.file.url }}">{{todo.file.name}}</a>
                <p>Click to download</p>
                </hr>
                {% endif %}
              </div>
              <div class="group mt-auto">
                <a href="{% url 'todo:complete' todo.id %}" class="btn btn-primary">Done</a>
                <a href="{% url 'todo:update' todo.id %}" class="btn btn-primary">Modify</a>
                <a href="{% url 'todo:delete' todo.id %}" class="btn btn-danger ">Delete</a>
                <a href="{% url 'todo:detail' todo.id %}" class="btn btn-secondary">Details</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
         <p>There is no Task</p>
         {% endif %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="{% url 'todo:list' %}" class="btn btn-secondary mt-5" type="button" >List View</a>
          <a href="{% url 'todo:create' %}" class="btn btn-primary mt-5" type="button" >Create</a>
        </div>
      </div>
    </ul>
  </div>
{% endblock %}
