{%extends 'base.html' %}
 
{% block title %}todo_list.html{% endblock %}
 
{% block content %}
<ul>
    {% for todo in todo_list %}


    <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ todo.name }}t</h5>
          <p class="card-text">{{ todo.description }},{{todo.image}},{{todo.file}}</p>
          <a href="#" class="btn btn-primary">완료!</a>
        </div>
        <div class="card-footer text-muted">
          마감일 : {{ todo.date_deadline }}  |  남은 일수 : {{todo.remaining_days}}
        </div>
      </div>

    {% endfor %}

</ul>
{% endblock %}
