<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}과외용 사이트{% endblock%}</title> <!-- 브라우저 탭에 표시됨-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- CSS CDN주소-->
{% block extra-style %}{% endblock %}
{% load socialaccount %}
</head> 
<body style="padding-top:90px;"> <!-- 위에서 90픽셀 띄워주고-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top"> <!-- navbar 위에 고정-->
        <div class="container-fluid">
          <a class="navbar-brand" href="#">StudyHub</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'todo:index' %}">Todo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'board:index' %}">Q/A</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'info:index' %}">Archive</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Intoduce_myself</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
  
              </li>
            </ul>
            {% comment %} <form class="d-flex" action="{% url 'board:search'%}" method="GET">
              {% csrf_token %}
              <input class="form-control me-2" type="text" placeholder="Q/A Quick Search" id="search" aria-label="Search" name="search" value="{{search|default_if_none:''}}">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
              &ensp;&ensp;
            </form> {% endcomment %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>      
          
             {% if user.is_authenticated %}
            <button type="button" class="btn btn-dark" onclick="location.href='{% url 'common:logout' %}'">Log Out</button>
            {% else%}
            <button type="button" class="btn btn-outline-light" onclick="location.href='{% url 'common:signup' %}'">Sign Up</button>
            <button type="button" class="btn btn-dark" onclick="location.href='{% url 'common:login' %}'">Log In</button>
            <!--<button type="button" class="btn btn-outline-light" onclick="location.href='{% provider_login_url 'google' %}'">GoogleID</button>-->
           {% endif %}
          
          </nav>
            
            {% block content %}{% endblock %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!--js cdn 주소 -->
{% block extra-script %}{% endblock %}

    </body>
</html>