{%extends 'base.html' %}
 
{% block title %}home.html{% endblock %}
 
{% block content %}
<main>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>JLPT</h2>
        <p>일본 취업 및 비자획득에 도움이 되는 공인 일본어시험입니다!N5부터 N1까지 수준별 수업이 가능합니다.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>EJU</h2>
        <p>일본 대학에 진학하기 위해 필수적인 일본유학시험입니다. 한국의 고등학교 교과과정과 비슷한 범위를 다룹니다.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>일상회화</h2>
        <p>딱딱하고 어색한 번역체 말투가 아닌 진짜 현지에서 사용하는 자연스러운 일본어로 말할수 있게 가르칩니다.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">일본 현지 8년거주. <span class="text-muted">8년의 과외경력</span></h2>
        <p class="lead">일본 현지에서 대학생활을 할떄부터 한국에 들어와서까지, 한국인에게 일본어를 가르치기도 일본인에게 한국어를 가르치기도 했습니다. 풍부한 경험을 살려서 개개인에게 맞춘 방식으로 수업합니다!</p>
      </div>
      <div class="col-md-5">
          <img src="https://myizbucket.s3.ap-northeast-2.amazonaws.com/SorlPhoto/2022/78789.jpeg" width="500" height="auto">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">JLPT N1 <span class="text-muted">만점</span></h2>
        <p class="lead">일본에서 떠난지 4년가량 지났지만 가장 최근(2021년 12월) JLPT N1에서 만점을 받았습니다.문제유형별 독해 접근방법과 청해 꿀팁까지. 고득점이 가능하도록 지도합니다.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">풍부한 학습자료,그리고 <span class="text-muted">요점정리</span></h2>
        <p class="lead">과거의 EJU 기출문제를 가지고 있으며, 방대한 내용을 알기쉽게 요약한 요점정리까지 제공합니다.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}